---
import MainLayout from "@/layouts/main.astro";
import EmploymentTypeForm from "@/features/suitability/components/forms/employment-type-form";
---

<MainLayout
  title="Employment Type | Humelixa Suitability Check"
  description="Tell us about your type of employment."
>
  <main class="flex min-h-screen items-center justify-center">
    <EmploymentTypeForm client:load />
  </main>
</MainLayout>
