---
import MainLayout from "@/layouts/main.astro";
import ResidenceForm from "@/features/suitability/components/forms/residence-form";
---

<MainLayout
  title="Residence Status | Humelixa Suitability Check"
  description="Tell us about your residence status in Germany."
>
  <main class="flex min-h-screen items-center justify-center">
    <ResidenceForm client:load />
  </main>
</MainLayout>
