---
import MainLayout from "@/layouts/main.astro";
import TimelineForm from "@/features/suitability/components/forms/timeline-form";
---

<MainLayout
  title="Investment Timeline | Humelixa Suitability Check"
  description="When would you like to start investing in real estate?"
>
  <main class="flex min-h-screen items-center justify-center">
    <TimelineForm client:load />
  </main>
</MainLayout>
