---
interface Props {
  quote: string;
  name: string;
  role: string;
}

const { quote, name, role } = Astro.props;
---

<div
  class="bg-card border-gold-dim hover:border-gold reveal border p-10 transition-all duration-300"
>
  <p class="text-foreground font-serif text-lg leading-relaxed italic">
    <span class="text-gold -mb-4 block text-5xl leading-none opacity-70">"</span
    >
    {quote}
  </p>

  <div class="mt-6 flex gap-4">
    <div
      class="border-gold text-gold flex size-12 items-center justify-center border font-serif"
    >
      {
        name
          .split(" ")
          .map((word) => word[0].toUpperCase())
          .join("")
      }
    </div>
    <div class="space-y-1">
      <p class="font-sans text-sm font-semibold">{name}</p>
      <p class="font-mono text-xs tracking-wider text-neutral-400 uppercase">
        {role}
      </p>
    </div>
  </div>
</div>
